# Created with https://www.gitignore.io
### PlatformIO ###
src/main.cpp
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history