# Created with https://www.gitignore.io
### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history